* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Fredoka', sans-serif;
}

body {
    background-color: bisque;
}

.container {
    margin: 0 auto;
    width: 900px;
}

img {
    max-width: 100%;
    display: block;
    /* display: none; */
}

h3 {
    margin-bottom: 20px;
}


.titol {
    text-align: center;
    padding: 50px;
}

#card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.col {
    text-align: center;
    background-color: white;
}

.member-name {
    font-weight: bold;
    padding-top: 10px;

}

.member-job {
    font-size: 14px;
    padding-bottom: 10px;
}
